gunicorn==20.0.0
numpy==1.20.3
pandas==1.2.4
click==7.1.2
ipython==7.25.0
matplotlib==3.4.2
scikit-learn==1.0.1
scipy==1.6.3 
joblib==1.1.0
lightgbm==3.3.1
requests==2.26.0
flask==2.0.2
peewee==3.14.8
psycopg2-binary==2.8.6
loguru==0.6.0
